html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
  font-weight: 400;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.collapsed {
  display: none !important;
}

.button {
  display: block;
  padding: 10px 25px;
  margin: 20px auto 0;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: 0px 0px 80px -29px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 80px -29px rgb(255, 255, 255);
  box-shadow: 0px 0px 35px -10px white;
}
@media (min-width: 769px) {
  .button {
    width: 230px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.nav .nav-item {
  padding: 15px 8px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 769px) {
  .nav .nav-item {
    padding: 20px 15px 15px;
    font-size: 18px;
  }
}
.nav .nav-item.selected {
  border-bottom: 1px solid white;
  box-shadow: inset 0 -11px 8px -10px white;
}
.nav .nav-item:hover:not(.selected) {
  transform: translateY(-3px);
}

.section-container {
  padding: 0 20px;
}
.section-container section:not(.selected) {
  display: none;
}

.section-title {
  font-size: 30px;
  font-weight: 200;
  margin: 15px 0 0 0;
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  border-radius: 15px;
  max-width: 100%;
  margin: 0 auto 50px;
  max-width: 400px;
}
.intro-container .intro-image {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin: auto;
}
.intro-container .text-container {
  display: block;
  margin: auto;
}
.intro-container .intro-text {
  margin: 0 auto;
  max-width: 100%;
  line-height: 25px;
}
.intro-container .intro-text span {
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 769px) {
  .intro-container {
    flex-direction: row;
    gap: 30px;
    max-width: fit-content;
  }
}
@media (min-width: 769px) {
  .intro-container .intro-image {
    width: 500px;
    height: 500px;
  }
  .intro-container .intro-text {
    max-width: 400px;
  }
}

.favorite-title {
  margin-bottom: 20px;
}

.favorite-container {
  border: 1px solid white;
  padding: 25px;
  border-radius: 15px;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.favorite-container .favorite-img {
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.favorite-container .favorite-img:hover {
  transform: scale(1.01);
}
.favorite-container .favorite-info {
  margin-top: 20px;
}
@media (min-width: 769px) {
  .favorite-container .favorite-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.favorite-container .favorite-name {
  font-size: 22px;
  font-weight: 200;
  margin: 0;
}
.favorite-container .favorite-button {
  padding: 10px 25px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}
@media (min-width: 769px) {
  .favorite-container .favorite-button {
    margin-top: 0;
  }
}
.favorite-container .favorite-button:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: 0px 0px 80px -29px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 80px -29px rgb(255, 255, 255);
  box-shadow: 0px 0px 35px -10px white;
}
.favorite-container .favorite-icons {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  margin: 0 auto 10px;
}
@media (min-width: 769px) {
  .favorite-container .favorite-icons {
    margin-bottom: 0;
  }
}
.favorite-container .favorite-icons img {
  width: 30px;
  height: 30px;
}

.projects-list {
  max-width: 1200px;
  margin: 20px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.projects-list .projects-card {
  border: 1px solid white;
  border-radius: 15px;
  padding: 15px;
  max-width: 500px;
}
.projects-list .projects-card .card-title {
  margin: 10px 0 10px;
}
.projects-list .projects-card .card-top .card-image {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px 15px 0;
}
.projects-list .projects-card .card-top div {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.projects-list .projects-card .card-top div img {
  width: 30px;
  height: 30px;
}
.projects-list .projects-card .card-bottom .card-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  gap: 15px;
}
.projects-list .projects-card .card-bottom .card-buttons .button {
  margin-top: 0px;
}

.about-container {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 55vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 20px 0;
  cursor: pointer;
  user-select: none;
}
.title-container:hover img {
  rotate: 90deg;
}
.title-container img.rotate {
  rotate: 90deg;
}

.about-title {
  font-size: 30px;
  margin-right: 5px;
}

.background {
  margin: 0 auto;
  max-width: 700px;
  font-size: 18px;
}
@media (min-width: 769px) {
  .background {
    text-align: justify;
  }
}

.skills-list {
  max-width: 700px;
  margin: 0 auto;
}
.skills-list .skills-item {
  padding: 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 200;
}
.skills-list .skills-item span {
  font-weight: 500;
  font-size: 18px;
}

.experience-list {
  max-width: 700px;
  margin: 0 auto;
}
.experience-list .experience-item {
  padding: 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 15px;
}
.experience-list .experience-item .experience-name {
  margin-bottom: 18px;
  font-size: 22px;
}
@media (min-width: 769px) {
  .experience-list .experience-item div {
    display: flex;
    gap: 40px;
  }
}
.experience-list .experience-item div .experience-date {
  font-weight: 500;
  font-size: 18px;
  min-width: 200px;
  margin-bottom: 25px;
}
.experience-list .experience-item span {
  font-weight: 500;
  font-size: 18px;
}

.tech-list {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
@media (min-width: 600px) {
  .tech-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 900px) {
  .tech-list {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
.tech-list .tech-item {
  padding: 5px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  border: 1px solid white;
}
.tech-list .tech-item img {
  width: 50px;
  height: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
.backdrop.hidden {
  display: none;
}

.backdrop-image {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  cursor: default;
}

.resume-container {
  margin: 0 auto;
  max-width: 300px;
  padding: 50px 20px 20px;
  height: 50vh;
}
.resume-container a {
  padding-left: 0;
  padding-right: 0;
}

.form-container {
  margin: 20px auto 0;
  max-width: 600px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-group .form-input, .form-group .form-message {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
  resize: none;
}
.form-group .form-input::placeholder, .form-group .form-message::placeholder {
  font-size: 14px;
  color: #aaa;
}
.form-group .form-input:focus, .form-group .form-message:focus {
  outline: none;
}
.form-group .form-input:valid:required, .form-group .form-message:valid:required {
  border: 1px solid greenyellow;
}
.form-group .form-input:invalid:focus, .form-group .form-message:invalid:focus {
  border: 1px solid rgb(255, 174, 0);
}
.form-group .form-input:is(:-webkit-autofill, :autofill), .form-group .form-message:is(:-webkit-autofill, :autofill) {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
}
.form-group label {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 5px;
}

.footer {
  padding: 60px 0 30px;
}
.footer .quote {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
.footer .socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
}
.footer .socials a {
  display: block;
}
.footer .socials img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.footer .copyright {
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}

.popup-container {
  border: 1px solid white;
  border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*# sourceMappingURL=styles.css.map */
